<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poject</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/styles2.css">
    <link rel="stylesheet" href="/styles/styles3.css">
    <link rel="stylesheet" href="/styles/styles4.css">
    <link rel="stylesheet" href="/styles/styles5.css">
    <link rel="stylesheet" href="/styles/styles6.css">
    <link rel="stylesheet" href="/styles/styles7.css">
    <link rel="stylesheet" href="/styles/styles8.css">
    <link rel="stylesheet" href="/styles/styles9.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="menu-bar">
        <div class="logo">
            <img src="/asset/logo.webp" alt="">
        </div>
        <div class="list">
            <ul>
            <li class="li">Home</li>
            <li class="li">About</li>
            <li class="li">Service</li>
            <li class="li">Portfoilo</li>
            <li class="li">Page</li>
            <li class="li">Contact</li>
            </ul>
        </div>
        <div >
            <Button class="button"> Get Free Consultant</Button>
        </div>
    </div>
    <div class="caursal">
        <div class="">
            <div class="h4">
                <h4> GET EVERY SINGLE SOLUTION. </h4>
            </div>
            <div class="h1">
                <h1>I’m Designer </h1>
                <h1> Haris F. Watson</h1>
             </div>
             <div class="p">
                 <p>jhorem rfpsum golor sidt amet, consectetur adipiscing elit, eiusmod tempor</p> 
                 <p> incididunt utcjhg  labore bet dolore magna aliqua. Quis ipsum suspendisse</p>
                 <p>  ultrices gravida.</p>
             </div>
        </div> 
        <div class=btn>
            <button  class="button1">Learn More</button>
            <button class="button2">Hire Me</button>
        </div>
    </div> 
    <div class="matter">
        <div class="left" >
                <h3>Designing With Passion While Exploring The World.</h3>
                <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore
                     et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo 
                     viverra sebfd dho eiusmod tempor maecenas accumsan lacus.</p>
                <p> Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua</p>     
        </div>
        <div class="right">
            <h1>Any Type Of Query & Discussion.</h1>
            <h6 class="rh6">Late talk with me</h6>
            <h4 class="rh4"> <u> hire@colorlib.com  </u></h4>  
        </div>  
        <div class="right-arrow">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </div>
    </div> 
    <div class="div4-main">
        <div class="div4">
            <h1 class="div4-1">What Services you will</h1>
            <h1 class="div4-2"> Get from me!</h1>
        </div>
    </div>
    <div class="support">
        <div class="div4-l">
             <img  class="pen" src="/asset/pen.png" alt="">
            <h3 class="div4-lh3">UI/UX Design</h3>
            <p class="div4-lp"> Free resource that will help nderstand thecv designc process and improve theroi nderstand the design
                 process andisei impro are of vquality.</p>
        </div> 
        <div class="div4-c">
            <img  class="speaker"  src="/asset/speaker.png" alt="">
            <h3 class="div4-ch3">Digital Marketing</h3>
            <p class="div4-cp"> Free resource that will help nderstand thecv designc process and improve theroi nderstand the design
                 process andisei impro are of vquality.</p>
        </div> 
        <div class="div4-r">
            <img class="portfolio" src="/asset/portfolio.png" alt="">
            <h3 class="div4-rh3">Website Design</h3>
            <p class="div4-rp"> Free resource that will help nderstand thecv designc process and improve theroi nderstand the design
                 process andisei impro are of vquality.</p>
        </div> 
    </div>  
    <div class="div5"> 
        <div class="div-l">
            <h1>What Services you Will</h1>
            <h1>Get from me!</h1>
        </div>
        <div class="div5-r">
            <ul>
                <li>All</li>
                <li>Branding</li>
                <li>Logo</li>
                <li>UI/UX</li>
                <li>Web Design</li>
            </ul>
        </div>
    </div> 
    <div class="row" >
        <div class="row1">
            <div class="row1-l">
                <img src="/asset/img1.webp" alt="">
            </div>
            <div class="row1-r">
                <div class="img2">
                    <img src="/asset/img2.webp" alt="">
                </div>
                <div class="img3">
                    <img src="/asset/img3.webp" alt="">
                </div>
            </div>
        </div>
        <div class="row2">
            <div class="img4">
                <img src="/asset/img4.webp" alt="">
            </div>
            <div class="img5">
                <img src="/asset/img5.webp" alt="">
            </div>
            <div class="img6">
                <img src="/asset/img6.webp" alt="">
            </div>
        </div>
    </div>
    <div class="div7">
        <div class="div7-l">
            <h1>Dont worry for contact <br> i`m available</h1>
        </div>
        <div class="div7-r">
            <button class="div7-button">Contact Me Now</button>
        </div>
    </div>
    <div>
        <div class="some">
            <h1>Some Possitive Feedback <br> That Encourage Us</h1>
        </div>
    </div> 
    <div class="div8">  
        <div class="div8-l">
            <div class="div8-r1">
                <div class="div8-r11">
                    <img src="/asset/person1.webp" alt="">
                </div>  
                <div class="div8-r12">
                    <h4>Bradley Erickson</h4>
                    <span>UI/UX Design</span>
                </div>
            </div>
            <div class="div8-l13">
                <p>Consecterur adipisicing elit, seeddosdeo eiusmod tempor incididunt  utore etstetes dolore magna aliqua. 
                Ut imminim restai veniam, quis nostrud </p>
            </div>
        </div>  
        <div class="div8-c">
            <div class="div8-r1">
                <div class="div8-r11">
                    <img src="/asset/person2.webp" alt="">
                </div>  
                <div class="div8-r12">
                    <h4>Bradley Erickson</h4>
                    <span>UI/UX Design</span>
                </div>
            </div>
            <div class="div8-l13">
                <p>Consecterur adipisicing elit, seeddosdeo eiusmod tempor incididunt  utore etstetes dolore magna aliqua. 
                Ut imminim restai veniam, quis nostrud </p>
            </div>
        </div> 
        <div class="div8-r">
            <div class="div8-r1">
                <div class="div8-r11">
                    <img src="/asset/person1.webp" alt="">
                </div>  
                <div class="div8-r12">
                    <h4>Bradley Erickson</h4>
                    <span>UI/UX Design</span>
                </div>
            </div>
            <div class="div8-l13">
                <p>Consecterur adipisicing elit, seeddosdeo eiusmod tempor incididunt  utore etstetes dolore magna aliqua. 
                Ut imminim restai veniam, quis nostrud </p>
            </div> 
        </div>
    </div>
    <div class="vintage">
        <img  class="vintage1" src="/asset/old vintage.webp" alt="">
        <img class="vintage2" src="/asset/vintage.webp" alt="">
        <img class="vintage3" src="/asset/old vintage2.webp" alt="">
        <img  class="vintage4" src="/asset/old vintage3.webp" alt="">
    </div>
    <div class="form">
        <div class="form-left">
            <h1>If Not Now, When? <br> Let's Work Together</h1>
            <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut <br> labore et dolore magna aliqua. Quis ipsum 
                suspendisces <br> gravida. Risus commodo viverra.</p>
            <img src="/asset/sign.webp" alt="">    
        </div>
        <div class="form-right">
            <form action="">
                <input class="Fname" type="text" placeholder="Full Name"><br>
                <input class="E-add" type="text" placeholder="Email Address"><br>
                <TEXtarea  class="textarea" placeholder="Your Message"></TEXtarea>
                <button class="F-button">Send Message</button>
            </form>
        </div> 
    </div>
    <div class="div10"> 
         <img src="/asset/logo2.webp" alt="">
         <h1>hireme@portfolio.com</h1>
         <p class="p1">221B Baker Street, Post office Box 353 <br> Park Road, USA-215431</p>
         <div class="div10-t">
             <div class="div10-l">
              <p class="p2">Copyright c2021 All rights reversed | This temlate is made with by Colorlib</p>
            </div>
            <div class="div10-r">
                <div class=" div10-r1">
                    <p class="p3"> Stay Connected 
                 </div> 
                 <div class=" div10-r2">
                <i class="fa fa-facebook-square"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-chrome"></i></p>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>