.div7{
    background-image: url(/asset/div6\ background.webp);
    width: 100%;
    height: 330px;
    display: flex;
    margin-top: 180px;
}
.div7-l{
    float: left;
    width: 50%;
    color: rgb(190, 57, 8);
    margin-top: 130px;
    margin-left: 80px;

}
.div7-r{
    float: right;
    margin-top: 30px;
    width: 50%;
}

.div7-button{
    background-color: orangered;
    width: 200px;
    height: 50px;
    border-style: none;
    color: white;
    border-radius: 6px;
    margin-top: 130px;
    margin-left: 300px;
}